In [1]:
%pwd

'/itf-fi-ml/home/arunps/Projects/HindiBabyNet/notebooks'

In [2]:
import os 
os.chdir("..")

In [3]:
%pwd

'/itf-fi-ml/home/arunps/Projects/HindiBabyNet'

In [14]:
from pathlib import Path
import pandas as pd

ARTIFACTS_ROOT = Path("artifacts/runs")

In [15]:
# list available runs
runs = sorted([p.name for p in ARTIFACTS_ROOT.iterdir() if p.is_dir()])
runs

['20260209_163255',
 '20260209_163812',
 '20260210_130337',
 '20260210_131458',
 '20260210_131852']

In [16]:
RUN_ID = runs[-1]  
RUN_DIR = ARTIFACTS_ROOT / RUN_ID
RUN_DIR

PosixPath('artifacts/runs/20260210_131852')

In [7]:
rec_path = RUN_DIR / "data_ingestion" / "recordings.parquet"
assert rec_path.exists(), f"Missing: {rec_path}"

recordings = pd.read_parquet(rec_path)
recordings.head()

,participant_id,session_date,recording_id,path,duration_sec,sample_rate,channels,frames,subtype,format,size_bytes
0,ABAN141223,20250216,1739683525,/scratch/users/arunps/hindibabynet/audio_raw/R...,17940.02,16000,1,287040320,PCM_16,WAV,574081152
1,ABAN141223,20250216,1739701628,/scratch/users/arunps/hindibabynet/audio_raw/R...,7331.10,16000,1,117297600,PCM_16,WAV,234595712
2,ADGA210923,20250216,1739685429,/scratch/users/arunps/hindibabynet/audio_raw/R...,17940.02,16000,1,287040320,PCM_16,WAV,574081152
3,ADGA210923,20250216,1739703674,/scratch/users/arunps/hindibabynet/audio_raw/R...,5878.40,16000,1,94054400,PCM_16,WAV,188109312
4,AHKV290824,20250323,1742709081,/scratch/users/arunps/hindibabynet/audio_raw/R...,17940.02,16000,1,287040320,PCM_16,WAV,574081152

In [8]:
recordings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   participant_id  111 non-null    object
 1   session_date    111 non-null    object
 2   recording_id    111 non-null    object
 3   path            111 non-null    object
 4   duration_sec    111 non-null    float64
 5   sample_rate     111 non-null    int64
 6   channels        111 non-null    int64
 7   frames          111 non-null    int64
 8   subtype         111 non-null    object
 9   format          111 non-null    object
 10  size_bytes      111 non-null    int64
dtypes: float64(1), int64(4), object(6)
memory usage: 9.7+ KB

In [9]:
recordings.describe(include="all")

,participant_id,session_date,recording_id,path,duration_sec,sample_rate,channels,frames,subtype,format,size_bytes
count,111,111,111,111,111.000000,111.0,111.0,1.110000e+02,111,111,1.110000e+02
unique,45,12,111,111,NaN,NaN,NaN,NaN,1,1,NaN
top,DIMI310524,20250307,1739683525,/scratch/users/arunps/hindibabynet/audio_raw/R...,NaN,NaN,NaN,NaN,PCM_16,WAV,NaN
freq,10,13,1,1,NaN,NaN,NaN,NaN,111,111,NaN
mean,NaN,NaN,NaN,NaN,11211.920541,16000.0,1.0,1.793907e+08,NaN,NaN,3.587820e+08
std,NaN,NaN,NaN,NaN,6643.092994,0.0,0.0,1.062895e+08,NaN,NaN,2.125790e+08
min,NaN,NaN,NaN,NaN,1.040000,16000.0,1.0,1.664000e+04,NaN,NaN,3.379200e+04
25%,NaN,NaN,NaN,NaN,6025.720000,16000.0,1.0,9.641152e+07,NaN,NaN,1.928236e+08
50%,NaN,NaN,NaN,NaN,11543.340000,16000.0,1.0,1.846934e+08,NaN,NaN,3.693874e+08
75%,NaN,NaN,NaN,NaN,17940.020000,16000.0,1.0,2.870403e+08,NaN,NaN,5.740812e+08
max,NaN,NaN,NaN,NaN,17940.020000,16000.0,1.0,2.870403e+08,NaN,NaN,5.740812e+08

In [10]:
recordings.groupby("participant_id").agg(
    n_recordings=("recording_id", "count"),
    total_hours=("duration_sec", lambda x: x.sum() / 3600),
)

                n_recordings  total_hours
participant_id
ABAN141223                 2     7.019756
ADGA210923                 2     6.616228
AHKV290824                 2     6.673111
AIFA160424                 1     3.861550
ALMA140824                 2     7.039972
ANMI190224                 2     7.100428
ANSO081124                 2     7.968139
ARSI070424                 2     7.641528
ARSO310724                 2     7.295211
AVSO161024                 2     7.551761
AYGU120623                 2     8.368261
BASE250424                 4    16.607867
DIJH260724                 2     5.840178
DIMI310524                10     6.350306
DISI020823                 4    18.156500
FAFA120724                 2     6.803789
HAAN270624                 2     6.538006
IHPA310724                 3     6.174450
KASE020823                 2     5.497556
KAVI280424                 2     5.596194
MAFA310524                 2     6.188206
MOAN250824                 2     6.056789
MOAR220224                 2     6.748906
MOSH150224                 2     6.828422
NARA010624                 2     7.519772
PRAT070823                 3     8.822072
RAGA021123                 5    11.225017
RIGA111023                 3     7.901211
RIGA250424                 2     6.158006
RUKA101123                 2     8.468044
SHDU140124                 2     7.380756
SHGA030624                 2     7.347561
SHGA250923                 5    17.169161
SHGO060723                 2     6.743028
SHKH040923                 2     7.369972
SHSO190824                 2     5.515461
SRYA260623                 2     7.572189
SWVA201124                 2     7.525761
TAKU170524                 3     5.559672
TESI180124                 2     6.736006
TRGA241023                 2     8.514361
VAGA260623                 2     7.052322
VESO210524                 2     7.297072
VISO240624                 2     7.720339
ZOIB270124                 2     5.579989

In [11]:
recordings.groupby(
    ["participant_id", "session_date"]
).agg(
    n_files=("recording_id", "count"),
    hours=("duration_sec", lambda x: x.sum() / 3600),
).reset_index()

   participant_id session_date  n_files     hours
0      ABAN141223     20250216        2  7.019756
1      ADGA210923     20250216        2  6.616228
2      AHKV290824     20250323        2  6.673111
3      AIFA160424     20250311        1  3.861550
4      ALMA140824     20250311        2  7.039972
5      ANMI190224     20250224        2  7.100428
6      ANSO081124     20250427        2  7.968139
7      ARSI070424     20250222        2  7.641528
8      ARSO310724     20250427        2  7.295211
9      AVSO161024     20250329        2  7.551761
10     AYGU120623     20250224        2  8.368261
11     BASE250424     20250201        2  9.966678
12     BASE250424     20250202        2  6.641189
13     DIJH260724     20250323        2  5.840178
14     DIMI310524     20250307       10  6.350306
15     DISI020823     20250201        2  9.966678
16     DISI020823     20250202        2  8.189822
17     FAFA120724     20250311        2  6.803789
18     HAAN270624     20250222        2  6.538006
19     IHPA310724     20250307        3  6.174450
20     KASE020823     20250209        2  5.497556
21     KAVI280424     20250222        2  5.596194
22     MAFA310524     20250311        2  6.188206
23     MOAN250824     20250323        2  6.056789
24     MOAR220224     20250222        2  6.748906
25     MOSH150224     20250311        2  6.828422
26     NARA010624     20250323        2  7.519772
27     PRAT070823     20250209        3  8.822072
28     RAGA021123     20250201        3  3.478678
29     RAGA021123     20250202        2  7.746339
30     RIGA111023     20250209        3  7.901211
31     RIGA250424     20250329        2  6.158006
32     RUKA101123     20250209        2  8.468044
33     SHDU140124     20250224        2  7.380756
34     SHGA030624     20250329        2  7.347561
35     SHGA250923     20250201        2  9.966678
36     SHGA250923     20250202        1  4.661450
37     SHGA250923        Trial        2  2.541033
38     SHGO060723     20250216        2  6.743028
39     SHKH040923     20250216        2  7.369972
40     SHSO190824     20250323        2  5.515461
41     SRYA260623     20250224        2  7.572189
42     SWVA201124     20250427        2  7.525761
43     TAKU170524     20250329        3  5.559672
44     TESI180124     20250427        2  6.736006
45     TRGA241023     20250209        2  8.514361
46     VAGA260623     20250216        2  7.052322
47     VESO210524     20250329        2  7.297072
48     VISO240624     20250427        2  7.720339
49     ZOIB270124     20250224        2  5.579989

In [12]:
recordings.assign(
    duration_hr=recordings["duration_sec"] / 3600
).sort_values("duration_hr", ascending=False).head(10)

,participant_id,session_date,recording_id,path,duration_sec,sample_rate,channels,frames,subtype,format,size_bytes,duration_hr
0,ABAN141223,20250216,1739683525,/scratch/users/arunps/hindibabynet/audio_raw/R...,17940.02,16000,1,287040320,PCM_16,WAV,574081152,4.983339
2,ADGA210923,20250216,1739685429,/scratch/users/arunps/hindibabynet/audio_raw/R...,17940.02,16000,1,287040320,PCM_16,WAV,574081152,4.983339
4,AHKV290824,20250323,1742709081,/scratch/users/arunps/hindibabynet/audio_raw/R...,17940.02,16000,1,287040320,PCM_16,WAV,574081152,4.983339
11,ANSO081124,20250427,1745729489,/scratch/users/arunps/hindibabynet/audio_raw/R...,17940.02,16000,1,287040320,PCM_16,WAV,574081152,4.983339
13,ARSI070424,20250222,1740203841,/scratch/users/arunps/hindibabynet/audio_raw/R...,17940.02,16000,1,287040320,PCM_16,WAV,574081152,4.983339
9,ANMI190224,20250224,1740372830,/scratch/users/arunps/hindibabynet/audio_raw/R...,17940.02,16000,1,287040320,PCM_16,WAV,574081152,4.983339
7,ALMA140824,20250311,1741667516,/scratch/users/arunps/hindibabynet/audio_raw/R...,17940.02,16000,1,287040320,PCM_16,WAV,574081152,4.983339
37,DISI020823,20250201,1738409066,/scratch/users/arunps/hindibabynet/audio_raw/R...,17940.02,16000,1,287040320,PCM_16,WAV,574081152,4.983339
25,DIJH260724,20250323,1742706643,/scratch/users/arunps/hindibabynet/audio_raw/R...,17940.02,16000,1,287040320,PCM_16,WAV,574081152,4.983339
23,BASE250424,20250202,1738475325,/scratch/users/arunps/hindibabynet/audio_raw/R...,17940.02,16000,1,287040320,PCM_16,WAV,574081152,4.983339

In [13]:
recordings["path"].sample(5).tolist()

['/scratch/users/arunps/hindibabynet/audio_raw/RawAudioData/VAGA260623/20250216/1739702694.WAV',
 '/scratch/users/arunps/hindibabynet/audio_raw/RawAudioData/SHGA250923/20250202/1738476102.WAV',
 '/scratch/users/arunps/hindibabynet/audio_raw/RawAudioData/ARSI070424/20250222/1740221983.WAV',
 '/scratch/users/arunps/hindibabynet/audio_raw/RawAudioData/BASE250424/20250202/1738493978.WAV',
 '/scratch/users/arunps/hindibabynet/audio_raw/RawAudioData/DIMI310524/20250307/1741328016.WAV']

In [19]:
preprocess_path = "artifacts/runs/20260210_131458/audio_preparation/ABAN141223_audio_manifest.parquet"
#assert preprocess_path.exists(), f"Missing: {preprocess_path}"

preprocess = pd.read_parquet(preprocess_path)
preprocess.head()

,source_index,source_path,source_recording_id,combined_start_sec,combined_end_sec,source_duration_sec,sample_rate,channels,participant_id,recording_id,combined_raw_path
0,0,/scratch/users/arunps/hindibabynet/audio_raw/R...,1739683525,0.00,17940.02,17940.02,16000,1,ABAN141223,ABAN141223,/scratch/users/arunps/hindibabynet/audio_proce...
1,1,/scratch/users/arunps/hindibabynet/audio_raw/R...,1739701628,17940.02,25271.12,7331.10,16000,1,ABAN141223,ABAN141223,/scratch/users/arunps/hindibabynet/audio_proce...